/* CURSOR */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: #5c0869;
}
.star:before {
  position: absolute;
  content: "\2726";
  color: inherit;
  inset: 0;
  box-shadow: 0 0 1em 0.5em #a3c2;
  filter: drop-shadow(0 0 0.5em white);
  text-shadow: 0 0 0.8em #fff5;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #f9f6ef;
  display: grid;
  place-content: center;
  background-image: radial-gradient(circle at 50% 50%, #2f3040, #1f2020);
}
/*
==========================

		BASE

==========================
*/
/* styles.css */
@import url("./rainbow.css");
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
html {
  height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
  min-height: 100%;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #1e1e1e;
  text-align: center;
  font-size: 1em;
  font-family: Georgia;
  font-weight: 400;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
==========================
		MAIN
==========================
*/
.boxcontainer {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  z-index: 10;
  height: auto;
  width: 700px;
  height: 500px;
  max-width: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
  transform: translate(0px, 210px);
  animation: fadeIn 7s ease;
  animation-fill-mode: forwards;
}

#dirbox {
  display: none;
}

.title {
  line-height: 1em;
  margin: 10px 0;
  color: #a21717;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
  display: block;
  cursor: pointer;
}

.sparkle-text {
  color: #5a055a;
  margin: 10px 0;
  font-family: Georgia;
  font-size: 25px;
  font-weight: bold;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: auto 100%;
  filter: drop-shadow(10px 10px 12px #7c2d51);
}

.desc {
  line-height: 25px;
  margin: 10px 0;
  color: #680f0f;
  transition: all 0.5s ease;
  animation-fill-mode: forwards;
}

.clickable {
  pointer-events: auto;
  user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.unclickable {
  pointer-events: none;
}

/*
==========================
		ANIM
==========================
*/

@keyframes slide {
  0% {
    transform: translate(0, 2.5em);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* DASDASd */
body {
  z-index: 10;
  background-color: #761919;
  font-family: system-ui, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  z-index: 10;
  --bg: #881c1c;
  --text-height: 300px;
}
