/* styles.css dosyası */

body {
    margin: 0;
    padding: 0;
    background-size: cover; /* Fotoğrafın tüm ekranı kaplamasını sağlar */
    background-position: center; /* Fotoğrafı ortalar */
    background-repeat: no-repeat; /* Fotoğrafın tekrarlamasını engeller */
    
}
.vd{
  margin-top:200px;
  
  text-align:center;
}

